doctype html
html
    head
        title= "HomePage"
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            #game(style="margin:0 auto; border: thin solid black")
                script(src='/javascripts/mongoConnection.js')
                script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
                script(src='https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js')
                script(src='/javascripts/JumperJS/jumperScenes.js')
                script(src='/javascripts/JumperJS/events.js')