doctype html
html
    head
        title= "Fljuppy"
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            include flappyStart.html
            script(src='/javascripts/mongoConnection.js')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js')
            script(src='/javascripts/FlappyJS/flappyScenes.js')
            script(src='/javascripts/FlappyJS/events.js')