<div class="services">
    <div class="col-md-4">
        <figure class="snip1174 navy col-md-4">
            <img src="/images/background-clouds.png" alt="sq-sample33" />
            <figcaption>
                <h2>Jumper</h2>
                <p>
                    Game where you have to jump on bricks <br>
                    in order to achievie as high score as possible
                </p>
                <a id="btnGameOne">Game One</a>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="snip1174 blue col-md-4">
            <img src="/images/fljuppy.png" />
            <figcaption>
                <h2>Fljuppy bird</h2>
                <p>
                    Description
                </p>
                <a id="btnGameTwo">Game Two</a>
            </figcaption>
        </figure>
    </div>
</div>