body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table {
  border: 1px solid;
  padding: 5px;
  margin: 0 auto;
  box-shadow: 3px 3px 2px #ff0000;
  transition: 0.5s;
  align-self: center;
  border-color: #ff0000 #0000ff;
}
table:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
tr {
  background-color: #ff0000
}